################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.vsidx
/BrummBrummAutonom/.vs/BrummBrummAutonom/v17/.suo
/BrummBrummAutonom/.vs/BrummBrummAutonom/v17/DocumentLayout.backup.json
/BrummBrummAutonom/.vs/BrummBrummAutonom/v17/DocumentLayout.json
