/Code/WRO_Roboter2.0/.vs/WRO_Roboter2.0/FileContentIndex/1b6df624-f6f7-4013-913b-ebc9085530a2.vsidx
/Code/WRO_Roboter2.0/.vs/WRO_Roboter2.0/FileContentIndex/3225b018-124b-4f0a-857a-9d614524ee68.vsidx
/Code/WRO_Roboter2.0/.vs/WRO_Roboter2.0/FileContentIndex/736925aa-1c63-4cc9-be9d-b658189afe9c.vsidx
*.vsidx
/Code/WRO_Roboter2.0/.vs/WRO_Roboter2.0/v17/DocumentLayout.json
/Code/WRO_Roboter2.0/.vs/WRO_Roboter2.0/v17/DocumentLayout.backup.json
/Code/WRO_Roboter2.0/.vs/WRO_Roboter2.0/v17/.suo
/.vs/WRO_2025_Mahlzeit_Robotics/v17/DocumentLayout.json
/.vs/WRO_2025_Mahlzeit_Robotics/v17/.wsuo
/.vs/VSWorkspaceState.json
*.json
/Code/MRoboticsCar/.vs/MRoboticsCar/v17/.suo
